<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Modulesgarden_Gpndata>
			<version>1.2.0</version>
		</Modulesgarden_Gpndata>
	</modules>
	<global>
		<blocks>
			<gpndata>
				<class>Modulesgarden_Gpndata_Block</class>
			</gpndata>
			<checkout>
				<rewrite>
					<cart_totals>Modulesgarden_Gpndata_Block_Checkout_Cart_Totals</cart_totals>
				</rewrite>
			</checkout>
		</blocks>
		<models>
			<gpndata>
				<class>Modulesgarden_Gpndata_Model</class>
			</gpndata>
		</models>
		<helpers>
			<gpndata>
				<class>Modulesgarden_Gpndata_Helper</class>
			</gpndata>
		</helpers>
		<resources>
			<gpndata_setup>
				<setup>
					<module>Modulesgarden_Gpndata</module>
					<class>Mage_Sales_Model_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</gpndata_setup>
			<gpndata_write>
				<connection>
					<use>core_write</use>
				</connection>
			</gpndata_write>
			<gpndata_read>
				<connection>
					<use>core_read</use>
				</connection>
			</gpndata_read>
		</resources>
		<events>
			<checkout_submit_all_after>
				<observers>
					<redirect_to_3ds>
						<class>gpndata/observer</class>
						<method>checkout_submit_all_after</method>
					</redirect_to_3ds>
				</observers>
			</checkout_submit_all_after>
		</events>
	</global>
	<frontend>
		<routers>
			<gpndata>
				<use>standard</use>
				<args>
					<module>Modulesgarden_Gpndata</module>
					<frontName>gpndata</frontName>
				</args>
			</gpndata>
		</routers>
		<translate>
			<modules>
				<gpndata>
					<files>
						<default>Modulesgarden_Gpndata.csv</default>
					</files>
				</gpndata>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<translate>
			<modules>
				<gpndata>
					<files>
						<default>Modulesgarden_Gpndata.csv</default>
					</files>
				</gpndata>
			</modules>
		</translate>
		<layout>
			<updates>
				<gpndata>
					<file>gpndata.xml</file>
				</gpndata>
			</updates>
		</layout>
		<events>
			<controller_action_predispatch_adminhtml_sales_recurring_profile_view>
				<observers>
					<manual_rebill_gpndata>
						<class>gpndata/observer</class>
						<method>manualRebill</method>
					</manual_rebill_gpndata>
				</observers>
			</controller_action_predispatch_adminhtml_sales_recurring_profile_view>
		</events>
	</adminhtml>
	<default>
		<payment>
			<gpndata>
				<sort_order>0</sort_order>
				<model>gpndata/payment</model>
				<title>Credit Card</title>
				<enabled>1</enabled>
				<order_status>processing</order_status>
				<payment_action>authorize</payment_action>
				<cctypes>VI,MC,AE,DI</cctypes>
				<useccv>1</useccv>
			</gpndata>
			<gpndatarecurring>
				<model>gpndata/paymentrecurring</model>
				<title>Credit Card Recurring Payments</title>
				<enabled>1</enabled>
				<sort_order>0</sort_order>
				<payment_action>Authorization</payment_action>
				<solution_type>Mark</solution_type>
				<line_items_enabled>1</line_items_enabled>
				<visible_on_cart>1</visible_on_cart>
				<visible_on_product>1</visible_on_product>
				<allow_ba_signup>never</allow_ba_signup>
				<authorization_honor_period>3</authorization_honor_period>
				<order_valid_period>29</order_valid_period>
				<child_authorization_number>1</child_authorization_number>
				<verify_peer>1</verify_peer>
				<activecron>1</activecron>
			</gpndatarecurring>
		</payment>
	</default>
	<crontab>
		<jobs>
			<gpndatarecurring_charge>
				<schedule>
					<cron_expr>0 * * * *</cron_expr>
				</schedule>
				<run>
					<model>gpndata/observer::chargeRecurringProfiles</model>
				</run>
			</gpndatarecurring_charge>
		</jobs>
	</crontab>
</config>
